.third{
    background: no-repeat center url('../images/third-screen/third-bg.png');
    background-size: cover;

    height: 700px;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    &__slider{
        margin-bottom: -25px;
    }
}
//MEDIA----------------------------------
@media (max-width: 760px) {
    .third{
        height: 355px;
    }
}
