@font-face {
    font-family: 'SocialIcons';
    src: url('SocialIcons.woff2') format('woff2'),
        url('SocialIcons.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

